@font-face {
    font-family: "TomatoPixel";
    
    src: url("TomatoEmoji.ttf") format("truetype"), /* chrome、firefox、opera、Safari, Android, iOS 4.2+ */

    font-style: normal;
    font-weight: normal;
}