@font-face {
    font-family: 'GB12345';
    src: url('./Fancy-FreeFont1-R.woff2') format('woff2'),
        url('./Fancy-FreeFont1-R.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

