@font-face {
    font-family: 'KCSong24F';
    src: url('KCSong24F.woff2') format('woff2'),
        url('KCSong24F.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

