/*
【日曆體 LahlitFont Typeface】開源下載網址
https://calendar101.com.tw/share-calendar/taiwans-first-calendar-font/

※開源字型授權說明（MIT License）
本字型「日曆體 LahlitFont Typeface」採用 MIT 開源授權，使用與再散布均自由，僅需保留原始授權說明與版權聲明。

※基本資訊
字型名稱｜ 日曆體（LahlitFont Typeface）
授權方式｜ MIT 授權條款（MIT License）
版權所有｜ © 2025 冠球彩色印刷股份有限公司
公司網站｜ https://calendar101.com.tw
字型作者｜ 泰江 TJ Gameboy 
作者網站｜ https://bio.site/taijiang_gameboy
授權版本日期｜ 2025 年 11 月

※授權說明
特此免費授權，允許任何取得本字型及其相關文件（以下簡稱「本字型」）的人，不受限制地處理本字型，包括但不限於：
使用、複製、修改、合併、出版、散布，並允許被提供本字型的人亦得如此處理。

惟須符合以下條件：
上述著作權聲明及本授權條款，必須包含於本字型的所有副本或其重要部分中。

本字型及其授權說明應以公開、透明之方式提供，並不得移除原始作者標示。

本字型係提供，無任何明示或默示之保證，包括但不限於對適售性、特定用途之適用性及非侵權之保證。
在任何情況下，作者或著作權人均不對因本字型或其使用、或與本字型之其他交易而引起的任何請求、損害或其他責任負責，無論其屬契約、侵權行為或其他原因。

※使用建議
您可以自由使用「日曆體」於個人、商業、教育或開源專案中。
若再散布或修改版本，請保留本授權說明及原始作者標示。

若公開衍生字型，可在說明中標註：
「本字型衍生自《日曆體 LahlitFont Typeface》，原始版本由冠球彩色印刷股份有限公司釋出，採 MIT 授權。」

※聯絡資訊
冠球彩色印刷股份有限公司
GLOBAL ACE COLOR PRINT CO., LTD.
地址：台中市南屯區工業區二十二路25號
網站：https://www.ace.com.tw
Email：calendar101@ace.com.tw
 */

@font-face {
    font-family: 'LahlitFont';
    src: url('LahlitFont.woff2') format('woff2'),
        url('LahlitFont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

